@font-face {
  font-family: 'Fractul SemiBold';
  src: url('../medias/fonts/fractul_semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Fractul Regular';
  src: url('../medias/fonts/fractul_regular.ttf') format('truetype');
}
.used {
  background-color: #fdfdfd;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.highest {
  color: #4ADE80;
}
.lowest {
  color: #F87171;
}
.low {
  background-color: red;
}
.mid {
  background-color: orange;
}
.good {
  background-color: yellow;
}
.better {
  background-color: green;
}
i {
  font-style: normal;
}
ul {
  list-style: none;
}
.poison {
  border: solid 2px #9040cc;
}
.psychic {
  border: solid 2px #f14179;
}
.rock {
  border: solid 2px #afa981;
}
.steel {
  border: solid 2px #60a1b8;
}
.flying {
  border: solid 2px #81b9ef;
}
.water {
  border: solid 2px #2980ef;
}
.ghost {
  border: solid 2px #704170;
}
.grass {
  border: solid 2px #42a129;
}
.ground {
  border: solid 2px #915121;
}
.ice {
  border: solid 2px #3fd8ff;
}
.normal {
  border: solid 2px #9fa19f;
}
.dragon {
  border: solid 2px #5061e1;
}
.electric {
  border: solid 2px #fac000;
}
.fairy {
  border: solid 2px #f170f1;
}
.fighting {
  border: solid 2px #ff8000;
}
.fire {
  border: solid 2px #e62829;
}
.bug {
  border: solid 2px #91a119;
}
.dark {
  border: solid 2px #50413f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-family: 'Fractul Regular', 'Arial', sans-serif;
  font-size: 16px;
  background: #111622;
  background-size: cover;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  border-bottom: solid 1px #243047;
  padding: 25px 25px;
}
.site-header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #FFFFFF;
}
.site-header .logo-container .logo-image {
  width: 20px;
  aspect-ratio: 1/1;
}
.site-header .logo-container .site-title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.container-wrapper {
  display: flex;
  padding: 25px;
  container-type: inline-size;
  gap: 25px;
}
.container-wrapper .left-container {
  display: flex;
  flex-direction: column;
}
.container-wrapper .left-container .pokemon-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  width: 200px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail img.type-sprites {
  height: 15px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .header .pokedex-info {
  text-align: center;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .header .pokedex-info h2 {
  font-family: 'Fractul SemiBold', 'Arial', sans-serif;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .header .pokemon-sprites {
  align-self: center;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos .type {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos table tr td {
  font-size: 12px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos table tr td:first-child {
  width: 33%;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos table tr td:last-child {
  width: 67%;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos table tr td .progress-container {
  width: 100%;
  display: block;
  background-color: #d0d0d0;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .infos table tr td .progress-bar {
  display: block;
  height: 100%;
  width: 0%;
  text-align: center;
  line-height: 30px;
  transition: width 0.5s;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail img.pokemon-sprites {
  width: 125px;
  aspect-ratio: 1/1;
}
.container-wrapper .left-container .team-generator-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  items-align: flex-start;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px;
  border: 1px solid #344465;
  background-color: #111722;
  padding: 1.25rem;
}
@container (min-width: 480px) {
  .container-wrapper .left-container .team-generator-card {
    flex-direction: row;
    align-items: center;
  }
}
.container-wrapper .left-container .team-generator-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.container-wrapper .left-container .team-generator-card .card-content .card-title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}
.container-wrapper .left-container .team-generator-card .card-content .card-description {
  color: #93a5c8;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
}
.container-wrapper .left-container .team-generator-card .generate-button {
  border: none;
  display: flex;
  min-width: 84px;
  max-width: 480px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  height: 2rem;
  padding: 0 1rem;
  background-color: #144bb8;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}
.container-wrapper .left-container .team-generator-card .generate-button .button-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-wrapper .filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 25px;
}
.container-wrapper .filters h2 {
  color: #FFFFFF;
}
.container-wrapper .filters select {
  align-self: flex-start;
  appearance: none;
  background-color: #243047;
  border: solid 1px #243047;
  padding: 5px 10px;
  font-family: 'Fractul SemiBold', 'Arial', sans-serif;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
}
