@font-face {
  font-family: 'Fractul SemiBold';
  src: url('../medias/fonts/fractul_semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Fractul Regular';
  src: url('../medias/fonts/fractul_regular.ttf') format('truetype');
}
.highest {
  color: #4ADE80;
}
.lowest {
  color: #F87171;
}
.low {
  background-color: red;
}
.mid {
  background-color: orange;
}
.good {
  background-color: yellow;
}
.better {
  background-color: green;
}
i {
  font-style: normal;
}
ul {
  list-style: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #111622;
  background-size: cover;
  font-family: 'Fractul Regular', 'Arial', sans-serif;
  font-size: 16px;
}
.site-header {
  align-items: center;
  border-bottom: solid 1px #243047;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
  white-space: nowrap;
}
.site-header .logo-container {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.site-header .logo-container .logo-image {
  aspect-ratio: 1/1;
  width: 20px;
}
.site-header .logo-container .site-title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}
.container-wrapper {
  display: flex;
  container-type: inline-size;
  gap: 25px;
  padding: 25px;
}
.container-wrapper .left-container {
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
  gap: 25px;
}
.container-wrapper .left-container .pokemon-details {
  padding: 20px;
}
.container-wrapper .left-container .pokemon-details h1 {
  color: #FFFFFF;
  font-size: 24px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail {
  border-bottom: solid 1px #243047;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .pokemon-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
  width: 150px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .pokemon-infos h2 {
  font-size: 20px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .pokemon-infos .reroll-button {
  cursor: pointer;
  width: fit-content;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .pokemon-infos .reroll-button img {
  height: 20px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table {
  display: flex;
  gap: 50px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table tbody tr {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table tbody tr td {
  display: flex;
  font-size: 14px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table tbody tr td:last-child {
  width: 250px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table tbody tr td .progress-container {
  background-color: #d0d0d0;
  border-radius: 5px;
  display: block;
  height: 10px;
  overflow: hidden;
  width: 100%;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail table tbody tr td .progress-bar {
  display: block;
  height: 100%;
  line-height: 30px;
  text-align: center;
  transition: width 0.5s;
  width: 0%;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .sprites {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 205px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .sprites .pokemon-sprite {
  align-self: center;
  height: 125px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .sprites .type {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.container-wrapper .left-container .pokemon-details .pokemon-detail .sprites .type img {
  height: 20px;
}
.container-wrapper .left-container .card {
  background-color: #111722;
  border: 1px solid #344465;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}
@container (min-width: 480px) {
  .container-wrapper .left-container .card {
    align-items: center;
    flex-direction: row;
  }
}
.container-wrapper .left-container .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container-wrapper .left-container .card .card-content .card-title {
  color: white;
  font-weight: bold;
  line-height: 1.2;
}
.container-wrapper .left-container .card .card-content .card-description {
  color: #93a5c8;
  font-weight: normal;
  line-height: normal;
}
.container-wrapper .left-container .card .button {
  align-items: center;
  background-color: #144bb8;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 2rem;
  justify-content: center;
  line-height: normal;
  min-width: 84px;
  max-width: 480px;
  overflow: hidden;
  padding: 0 20px;
}
.container-wrapper .left-container .card .button .button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-wrapper .options {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container-wrapper .options h2 {
  color: #FFFFFF;
}
.container-wrapper .options select {
  align-self: flex-start;
  appearance: none;
  background-color: #243047;
  border: solid 1px #243047;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Fractul SemiBold', 'Arial', sans-serif;
  padding: 5px 10px;
  text-align: center;
}
.container-wrapper .options label {
  color: #FFFFFF;
}
.container-wrapper .options span {
  display: flex;
  gap: 10px;
}
