// out: false

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	font-family: @primary-ff;
	font-size: @paragraph-fs;
	background: #111622;
    background-size: cover;
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	border-bottom: solid 1px @border-c;
	padding: @md-gap @md-gap;
	
	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: @xs-gap;
		color: @white-c;
	  
		.logo-image {
			width: @s-w;
			aspect-ratio: 1/1;
		}
	  
		.site-title {
			color: @white-c;
			font-size: @subtitle-fs;
			font-weight: bold;
		}
	}
}

.container-wrapper {
	display: flex;
	padding: @md-gap;
	container-type: inline-size;
	gap: @md-gap;
	
	.left-container {
		display: flex;
		flex-direction: column;

		.pokemon-details {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			gap: @xs-gap;
		
			.pokemon-detail {
				opacity: 0;
				display: flex;
				flex-direction: column;
				gap: @xs-gap;
				padding: @s-gap;
				width: @xl-w;
		
				.header {
					display: flex;
					flex-direction: column;
					gap: @xs-gap;
		
					.pokedex-info {
						text-align: center;
		
						h2 {
							font-family: @title-ff;
						}
					}
		
					.pokemon-sprites {
						align-self: center;
					}
				}
		
				.infos {
					display: flex;
					flex-direction: column;
					gap: @xs-gap;
		
					.type {
						display: flex;
						justify-content: space-around;
						gap: @xs-gap;
						
						.type-sprites {
							height: @xs-w;
						}
					}
		
					table {
						tr {
							td {
								font-size: @small-fs;
		
								&:first-child {
									width: 33%;
								}
		
								&:last-child {
									width: 67%;
								}
		
								.progress-container {
									width: 100%;
									display: block;
									background-color: @grey-c;
									border-radius: @s-radius;
									overflow: hidden;
									height: 10px;
								}
								
								.progress-bar {
									display: block;
									height: 100%;
									width: 0%;
									text-align: center;
									line-height: 30px;
									transition: width 0.5s;
								}
							}
						}
					}
				}
		
				img {
					&.pokemon-sprites {
						width: @l-w;
						aspect-ratio: 1/1;
					}
				}
			}
		}

		.team-generator-card {
			display: flex;
			flex: 1;
			flex-direction: column;
			items-align: flex-start;
			justify-content: space-between;
			gap: 1rem;
			border-radius: @md-radius;
			border: 1px solid #344465;
			background-color: #111722;
			padding: 1.25rem;
	
			@container (min-width: 480px) {
				flex-direction: row;
				align-items: center;
			}
			
			  .card-content {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;
				
				.card-title {
				  color: white;
				  font-size: 1rem;
				  font-weight: bold;
				  line-height: 1.2;
				}
			
				.card-description {
				  color: #93a5c8;
				  font-size: 1rem;
				  font-weight: normal;
				  line-height: normal;
				}
			  }
		  
			.generate-button {
				border: none;
				display: flex;
				min-width: 84px;
				max-width: 480px;
				cursor: pointer;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				border-radius: @md-radius;
				height: 2rem;
				padding: 0 1rem;
				background-color: #144bb8;
				color: white;
				font-size: 0.875rem;
				font-weight: 500;
				line-height: normal;
	
				.button-text {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}


	.filters {
		display: flex;
		flex-direction: column;
		width: 20%;
		gap: @md-gap;

		h2 {
			color: @white-c;
		}

		select {
			align-self: flex-start;
			appearance: none;
			background-color: #243047;
			border: solid 1px @border-c;
			padding: @xs-gap @s-gap;
			font-family: @title-ff;
			text-align: center;
			color: @white-c;
			border-radius: @md-radius;
		}
	}
}

// .pokemon-cases {
// 	.rows {
// 		display: flex;
// 	}

// 	.pokemon-case {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;

// 		width: @md-w;
// 		aspect-ratio: 1/1;
// 		background-color: #fdfdfd;
// 		border: solid 1px #0A285F;

// 		.pokemon-sprites {
// 			width: 100%;
// 			aspect-ratio: 1/1;
// 		}
// 	}
// }
