// out: false

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	font-family: @primary-ff;
	font-size: @paragraph-fs;
	background: #111622;
    background-size: cover;
	min-height: 100vh;
}

body {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	gap: @s-gap;

	.site-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		border-bottom: 1px solid @border-c;
		padding: @md-gap @md-gap;
		width: 100%;
		
		.logo-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: @xs-gap;
			color: @white-c;
		  
			.logo-image {
				width: @xs-icon;
				aspect-ratio: 1/1;
			}
		  
			.site-title {
				color: @white-c;
				font-size: @subtitle-fs;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: -0.015em;
			}
		}
		
		.nav-container {
			display: flex;
			flex: 1;
			justify-content: flex-end;
			
			.nav-links {
				display: flex;
				align-items: center;
				gap: @l-gap;;

				& > a {				
					text-decoration: none;
				}
				
				.roll-button {
					height: @xs-icon;
					align-self: flex-end;
				}
				
				.nav-item {
					display: flex;
					color: @white-c;
					font-size: @subtitle-fs;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}

	select {
		align-self: flex-end;
		appearance: none;
		background-color: @white-c;
		border: solid 1px @border-c;
		padding: @xs-gap @s-gap;
		font-family: @title-ff;
		text-align: center;
	}

	.pokemon-cases {
		.rows {
			display: flex;
		}

		.pokemon-case {
			display: flex;
			justify-content: center;
			align-items: center;

			width: @md-icon;
			aspect-ratio: 1/1;
			background-color: #fdfdfd;
			border: solid 1px #0A285F;

			.pokemon-sprites {
				width: 100%;
				aspect-ratio: 1/1;
			}
		}
	}

	.pokemon-details {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: @xs-gap;

		.pokemon-detail {
			opacity: 0;
			display: flex;
			flex-direction: column;
			gap: @xs-gap;
			padding: @s-gap;
			transition: all 0.3s ease-in-out;
			width: @big-img;

			&:hover {
				transform: scale(1.05);
				box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
			}

			img {
				&.type-sprites {
					height: 15px;
				}
			}

			.header {
				display: flex;
				flex-direction: column;
				gap: @xs-gap;

				.pokedex-info {
					text-align: center;

					h2 {
						font-family: @title-ff;
					}
				}

				.pokemon-sprites {
					align-self: center;
				}
			}

			.infos {
				display: flex;
				flex-direction: column;
				gap: @xs-gap;

				.type {
					display: flex;
					justify-content: space-around;
					gap: @xs-gap;
				}

				table {
					tr {
						td {
							font-size: @small-fs;

							&:first-child {
								width: 33%;
							}

							&:last-child {
								width: 67%;
							}

							.progress-container {
								width: 100%;
								display: block;
								background-color: @grey-c;
								border-radius: 5px;
								overflow: hidden;
								height: 10px;
							}
							
							.progress-bar {
								display: block;
								height: 100%;
								width: 0%;
								text-align: center;
								line-height: 30px;
								transition: width 0.5s;
							}
						}
					}
				}
			}

			img {
				&.pokemon-sprites {
					width: @l-icon;
					aspect-ratio: 1/1;
				}
			}
		}
	}
}